<div class="container">
    <h1 class="mt-3">Add Organization</h1>
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2 mb-5">
            <div class="mt-3">
                <label for="title" class="form-label">Name</label>
                <input 
                    type="text"
                    id="name"
                    name="name"
                    class="form-control"
                    [(ngModel)]="model.name"
                >
            </div>
            <div class="mt-3">
                <label for="urlHandle" class="form-label">Logo Url</label>
                <input 
                    type="text"
                    id="logoUrl"
                    name="logoUrl"
                    class="form-control"
                    [(ngModel)]="model.logoUrl"
                >
            </div>
            <div class="mt-3">
                <label for="logoUrl" class="form-label">Logo Url
                    <button type="button" class="btn btn-light" (click)="openImageSelector()">Select Image</button>
                </label>
                <ng-container *ngIf="model.logoUrl != ''">
                    <div>
                        <img [src]="model.logoUrl" height="100" class="my-2">
                    </div>
                </ng-container>
                <input 
                    type="text"
                    id="logoUrl"
                    name="logoUrl"
                    class="form-control"
                    [(ngModel)]="model.logoUrl"
                >
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary ms-3" [routerLink]="['/admin/organizations']">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="images-container-model" [ngClass]="{'d-block': isImageSelectorVisible, 'd-none': !isImageSelectorVisible}">
    <button type="button" class="btn btn-light" style="position: fixed; top: 10px; right: 10px" (click)="closeImageSelector()">X</button>
    <app-image-selector></app-image-selector>
</div>