<div class="container">
    <h1 class="mt-3">Add Sales</h1>
  
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
      <div class="mt-2 mb-5">
        <div class="mt-3">
            <label for="orderNumber" class="form-label">Order Number</label>
            <input type="text"
            id="orderNumber"
            name="orderNumber"
            class="form-control"
            [(ngModel)]="model.id">
        </div>

        <div class="mt-3">
            <label for="orderDate" class="form-label">Order Date</label>
            <input type="date"
            id="orderDate"
            name="orderDate"
            class="form-control"
            [ngModel]="model.orderDate | date: 'yyy-MM-dd'"
            (ngModelChange)="model.orderDate = $event">
        </div>
  
        <div class="mt-3">
            <ng-container *ngIf="categories$ | async as categories">
                <label for="selectCategory" class="form-label">Select Category</label>
                <select class="form-select" id="selectCategory" name="selectCategory" required [(ngModel)]="selectedCategoryId">
                    <option *ngFor="let category of categories" [value]="category.id">{{category.categoryName}}</option>
                </select>
            </ng-container>
        </div>
  
        <div class="mt-3">
            <label for="productName" class="form-label">Product Name</label>
            <input type="text"
            id="productName"
            name="productName"
            class="form-control"
            [(ngModel)]="model.productName">
        </div>
  
        <div class="mt-3">
            <label for="total" class="form-label">Total</label>
            <input type="number"
            id="total"
            name="total"
            class="form-control"
            [(ngModel)]="model.total">
        </div>

        <div class="mt-3">
            <label for="state" class="form-label">State</label>
            <input type="text"
            id="state"
            name="state"
            class="form-control"
            [(ngModel)]="model.state">
        </div>
  
        <div class="mt-3">
            <label for="city" class="form-label">City</label>
            <input type="text"
            id="city"
            name="city"
            class="form-control"
            [(ngModel)]="model.city">
        </div>

        <div class="mt-3">
            <label for="region" class="form-label">Region</label>
            <input type="text"
            id="region"
            name="region"
            class="form-control"
            [(ngModel)]="model.region">
        </div>
  
        <div class="mt-3">
          <label for="selectOrginzation" class="form-label">Select Organization</label>
          <ng-container *ngIf="organizations$ | async as organizations">
            <select class="form-control" [(ngModel)]="model.organizations" name="selectOrginzation" id="selectOrginzation" multiple>
            <option *ngFor="let organization of organizations" [value]="organization.id">{{organization.name}}</option>
          </select>
          </ng-container>
  
        </div>
  
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary ms-3" [routerLink]="['/admin/sales']">Cancel</button>
        </div>
      </div>
    </form>
  </div>